<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <h1>Bem-vindo, <%= user.email %>!</h1>
    <nav>
        <ul>
            <li><a href="/add-curso">Adicionar Curso</a></li>
            <li><a href="/list-cursos">Listar Cursos</a></li>
        </ul>
    </nav>
</body>
</html>
